<footer class="site-footer">

  <div id="contact">
    <b class="footer-heading">Feedback:</b>
    <a href="mailto:info@gregariousmammal.com">Email</a>
    <a href="https://github.com/GregariousMammal/Chip-Shop/issues/new">GitHub</a>
    <a href="https://trello.com/b/uqiDfGmP/chip-shop-board-game">Trello</a>
  </div>

  <div id="social">
    <a href="https://pinterest.com/chipshopgame/"><img src="/assets/images/social/pinterest-icon.png" /></a>
    <a href="https://www.instagram.com/chrischinchilla/"><img src="/assets/images/social/instagram-icon.png" /></a>
    <a href="https://boardgamegeek.com/boardgame/197172/chip-shop"><img src="/assets/images/social/bgg-icon.png" /></a>
  </div>

</footer>
