/**
* Reset some basic elements
*/
html, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
* Basic styling
*/
// TODO: Need to exclude from print
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  @include media-query($on-palm) {
    font-size: $base-font-size *0.75;

  }
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  background: url(../assets/images/fs_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover; /* Mozilla*/
  -o-background-size: cover; /* Opera*/
  background-size: cover; /* Generic*/
  padding: 4vw 14vw 4vw 14vw;
}



/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
* Figures
*/
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
* Lists
*/
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
* Headings
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}



/**
* Links
*/
a {
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

/**
* Blockquotes
*/
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
* Code formatting
*/
pre,
code {
  font-size: 15px;
  border: 8px solid $content-background;
  border-radius: 8px;
  background-color: #000;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 15px;
  // overflow-x: scroll;
  word-wrap:break-word;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
* Wrapper
*/
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit / 3} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit / 3} * 2));
    padding-right: $spacing-unit / 3;
    padding-left: $spacing-unit / 3;
  }
}



/**
* Clearfix
*/
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
* Icons
*/
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
