.grid {
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col'] {
  text-align:center;
  float: left;
  width: 33.33%;
  min-height:85px;

  p {
    a {
      color: $text-color;
    }
    a:hover {
      border-bottom: dotted 1px;
      text-decoration: none;
    }
  }
}

.card-header {
  .card-title {
    text-align:right;
  }
}
.card-content {
  display: table;

  picture {
    display: table-cell;
    vertical-align: top;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .flavour {

  }
  .costs, .scores {
    display: block;
    margin-bottom:$spacing-unit / 4;
    p {
      margin-bottom:0;
    }
    h2 {
      margin-bottom:0;
    }
  }
  .legal {
    margin-top:$spacing-unit;
    font-size:$small-font-size;
  }
}
