---
layout: default
---
<div class="card">

  <header class="card-header">
    <h1 class="card-title">{{page.title}}</h1>
    {% if page.personalitytype %}
    {{ page.personalitytype }}
    {% endif %}
  </header>

  <article class="card-content">
    {% if page.image %}
    {% picture mediumscreen {{page.image}} alt="{{page.title}}" %}
    {% endif %}
    <span class="flavour">
      {{ content }}
    </span>
    <!-- <span class="costs">
      <h2>Costs</h2>

      {% if page.staffcost %}
      <p>
        Staff: {{page.staffcost}}
      </p>
      {% endif %}

      {% if page.qualitycost %}
      <p>
        Quality: {{page.qualitycost}}
      </p>
      {% endif %}

      {% if page.rdcost %}
      <p>
        R&D: {{page.rdcost}}
      </p>
      {% endif %}

      {% if page.marketingcost %}
      <p>
        Marketing: {{page.marketingcost}}
      </p>
      {% endif %}

      {% if page.longevitycost %}
      <p>
        Longevity: {{page.longevitycost}}
      </p>
      {% endif %}

      {% if page.moneycost %}
      <p>
        Money: {{page.moneycost}}
      </p>
      {% endif %}

      {% if page.loyaltycost %}
      <p>
        Loyalty: {{page.loyaltycost}}
      </p>
      {% endif %}

      {% if page.specialcost %}
      <p>
        Special: {{page.specialcost}}
      </p>
      {% endif %}
    </span>

    <span class="scores">
      <h2>Scores</h2>

      {% if page.loyaltyscore %}
      <p>
        Loyalty: {{page.loyaltyscore}}
      </p>
      {% endif %}

      {% if page.profitscore %}
      <p>
        Profit: {{page.profitscore}} for {{page.profitlength}} turns
      </p>
      {% endif %}

      {% if page.longevityscore %}
      <p>
        Longevity: {{page.longevityscore}}
      </p>
      {% endif %}

      {% if page.rdscore %}
      <p>
        R&D: {{page.rdscore}}
      </p>
      {% endif %}

      {% if page.specialscore %}
      <p>
        Special: {{page.specialscore}}
      </p>
      {% endif %}
    </span> -->
    {% if page.concepts %}
    <p class="concepts">Concepts: {{page.concepts}}</p>
    {% endif %}
    {% if page.legal %}
    <p class="legal">{{page.legal}}</p>
    {% endif %}

  </article>

</div>
