---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% assign approvedProductCards = site.cards | where:"approved", "Y" | where:"cardtype", "product" %}
  <h2>Products</h2>

  {% for card in approvedProductCards %}
  <p>
    <b>{{ card.title }}</b> - <a href="{{card.url}}">View</a>
  </p>
  {% endfor %}

  {% assign approvedEventCards = site.cards | where:"approved", "Y" | where:"cardtype", "event" %}
  <h2>Events</h2>

  {% for card in approvedEventCards %}
  <p>
    <b>{{ card.title }}</b> - <a href="{{card.url}}">View</a>
  </p>
  {% endfor %}

  {% assign approvedPersonalityCards = site.cards | where:"approved", "Y" | where:"cardtype", "personality" %}
  <h2>Personalities</h2>
  {% for card in approvedPersonalityCards %}
  <p>
    <b>{{ card.title }}</b> - <a href="{{card.url}}">View</a>
  </p>
  {% endfor %}
</div>
