---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  {% for manualpage in site.manual %}
  <p>
    <b>{{ manualpage.title }}</b> - <a href="{{manualpage.url}}">View</a>
  </p>

  {% endfor %}
  <h4>Concepts</h4>
  {% for concept in site.concepts %}
  <p>
    <b>{{ concept.title }}</b> - <a href="{{concept.url}}">View</a>
  </p>
  {% endfor %}
</div>
